{
	"dsn":        "mysql:host=urlouip:porta;dbname=nomedobanco",
	"user":       "seuusuario",
	"pass":       "suasenha",
	"token_bot":  "numerodotoken",
	"api_token":  "numerodotoken",
	"news_token": "numerodotoken"
}